footer.container

	span

		| © Copyright 2014 

		a(href='http://media-sakti.com/', target='_blank')

			b Media-Sakti

	button.pull-right.go-up

		i.fa.fa-angle-up

script(src='/js/kotakarsip.js')

script(src='/js/scrolltobyspeed.jquery.js')

script.

	setInterval(function () {
		$('#notif').load('/notifikasi/data');
	}, 5000);