meta(name='keyword', content='')

meta(name='description', content='')

meta(name='author', content='')

meta(property='og:image', content='/img/logo.svg')

meta(charset='UTF-8')

meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel='icon', sizes='16x16', href='/img/favicon.png')

link(rel='stylesheet', href='/libs/font-icons/entypo/css/entypo.css')

link(rel='stylesheet', href='/libs/font-icons/font-awesome/css/font-awesome.min.css')

link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400', rel='stylesheet', type='text/css')

link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')

link(href='/libs/sumoselect/sumoselect.css', rel='stylesheet')

link(href='/libs/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css', rel='stylesheet')

link(rel='stylesheet', type='text/css', href='/libs/datepick/jquery.datepick.css')

link(href='/css/kotakarsip.css', rel='stylesheet')