section.container.main-section

	form.form-custom.row(action='')

		.col-md-2

			select.testsel(name='rak', multiple='multiple', placeholder='Pilih Rak', onchange="console.log($(this).children(':selected').length)")

				- for row in data_rak

					option(value='#{ row.rack_number }') Rak #{ row.rack_number }

				- endfor

		.col-md-4

			input#rangePicker(type='text', placeholder='Rentang Waktu', readonly='')

		.col-md-6

			input(type='text', placeholder='Pencarian')

			button.btn-search

				i.fa.fa-search