section.container.main-section

	form#search.form-custom.row(action='/search', method='get')

		.col-md-2

			select(name='type', placeholder='Jenis Surat')

				option(value='inbox') Surat Masuk

				option(value='outbox') Surat Keluar

		.col-md-2

			select.testsel(name='rack', multiple='multiple', placeholder='Pilih Rak', onchange="console.log($(this).children(':selected').length)")

				- for row in data_rak

					option(value='#{ row.id }') Rak #{ row.rack_number }

				- endfor

		.col-md-3

			input#rangePicker(type='text', name='daterange', placeholder='Rentang Waktu', readonly='')

		.col-md-5

			input(type='text', name='q', placeholder='Pencarian')

			button.btn-search

				i.fa.fa-search