<!doctype html>

<html lang="en">

<head>

	<meta name="keyword" content="">

	<meta name="description" content="">

	<meta name="author" content="">

	<meta property="og:image" content="assets/img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Kotakarsip</title>

	<link rel="icon" sizes="16x16" href="assets/img/favicon.png" />

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
	
	<!-- Libs css -->
	<link rel="stylesheet" href="assets/libs/jquery-ui/jquery-ui.css">
	<link href="assets/libs/sumoselect/sumoselect.css" rel="stylesheet" />
	<link href="assets/libs/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/libs/datepick/jquery.datepick.css">

	<!-- Custom css -->
	<link href="assets/css/kotakarsip.css" rel="stylesheet">

</head>


<body>

<div id="container">

	<div class="profil-responsive">
		<ul>
			<li class="user-thumbs"><img src="assets/img/user/user-thumbs.png" alt="" width="28px"><span>&nbsp;&nbsp;Gifa Eriyanto&nbsp;&nbsp;</span></li>
			<li><a href="setelan.html"><i class="fa fa-cog"></i>&nbsp;&nbsp;Setelan</a></li>
			<li><a href="login.html"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Keluar</a></li>
		</ul>
	</div>

	<div class="overlay-profil-responsive"></div>

	<nav>

		<div class="container">
		
			<div class="pull-left logo"><a href="index.html"><img src="assets/img/logo.svg" alt="" width="26px"><b>KOTAK ARSIP</b></a></div>

			<div class="pull-right top-responsive">
				<a href="#" class="show-profil-responsive"><i class="fa fa-bars"></i></a>
			</div>


			<div class="pull-right" style="height: 50px;">
				<ul class="link">
					<li class="dropdown hide-dropdown">
						<button class="btn dropdown-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							<img src="assets/img/user/user-thumbs.png" alt="" width="28px">
							<span>&nbsp;&nbsp;Gifa Eriyanto&nbsp;&nbsp;</span>
							<i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu1" style="right: 4px;">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="pengaturan-akun.html"><i class="fa fa-cog"></i>&nbsp;&nbsp;Pengaturan Akun</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="login.html"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Keluar</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<button class="btn dropdown-custom dropdown-toggle badge-active" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							<i class="fa fa-bell"><div class="badge-on"></div></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1" style="right: 4px;max-width: 400px;">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="ellipsis"><i class="fa fa-file-text"></i>&nbsp;&nbsp;<b>Alfian</b> menambahkan dokumen baru</a></li>
							<li role="presentation"><div style="width: 100%;height: 1px;background: #202020"></div></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="pemberitahuan.html"><center>Selengkapnya</center></a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div>

	</nav>

	<div class="nav">
		
		<div class="container">
			
			<ul class="link pull-left">
				<li><a class="list" href="index.html">BERANDA</a></li>
				<li><a class="list" href="surat-masuk.html">SURAT MASUK</a></li>
				<li><a class="list" href="surat-keluar.html">SURAT KELUAR</a></li>
			</ul>


			<ul class="link pull-right">
				<li id="nav-master" class="actived"><a class="list" href="master.html"><i class="fa fa-plus"></i></a></li>
			</ul>

		</div>

	</div>

	<div id="body">

		<section class="container default-section">

			<div class="col-md-6">
				
				<div class="headline">Disposisi</div>

				<form action="" class="form-custom" enctype="multipart/form-data">

					<div class="col-md-12">
						<input type="text" name="" placeholder="Disposisi Kepada:">
						<button class="btn-plus" title="Tambah"><i class="fa fa-plus"></i></button>

						<table class="table table-bordered">

							<thead>
								<tr>
									<th>#ID</th>
									<th>Disposisi Kepada:</th>
									<th>Aksi</th>
								</tr>
							</thead>

							<tbody>

								<tr style="cursor: pointer">
									<td>#1</td>
									<td>Direktur</td>
									<td><a href="" class="btn-aksi" title="Sunting"><i class="fa fa-pencil"></i></a> &nbsp;&nbsp;<a href="" title="Hapus" class="btn-aksi" data-toggle="modal" data-target="#hapus-modal"><i class="fa fa-times"></i></a></td>
								</tr>

								<tr style="cursor: pointer">
									<td>#2</td>
									<td>Sekretaris</td>
									<td><a href="" class="btn-aksi" title="Sunting"><i class="fa fa-pencil"></i></a> &nbsp;&nbsp;<a href="" title="Hapus" class="btn-aksi" data-toggle="modal" data-target="#hapus-modal"><i class="fa fa-times"></i></a></td>
								</tr>

							</tbody>

						</table>
					</div>

				</form>

			</div>

		</section>

		<hr>

		<section class="container default-section">

			<div class="col-md-6">
				
				<div class="headline">Administrator <small style="font-weight: normal; color: #999"><i>Kata sandi default: 12345</i></small></div>

				<form action="" class="form-custom" enctype="multipart/form-data">

					<div class="col-md-12">
						
						<input type="text" name="" placeholder="Nama Lengkap">
						
						<input type="email" name="" placeholder="Alamat Email">

						<button class="btn-plus" title="Tambah"><i class="fa fa-plus"></i></button>

						<table class="table table-bordered">

							<thead>
								<tr>
									<th>#ID</th>
									<th>Nama Lengkap</th>
									<th>Alamat Email</th>
									<th>Aksi</th>
								</tr>
							</thead>

							<tbody>

								<tr style="cursor: pointer">
									<td>#1</td>
									<td>Gifa Eriyanto</td>
									<td>gifaeiryanto@ymail.com</td>
									<td><a href="" class="btn-aksi" title="Sunting"><i class="fa fa-pencil"></i></a> &nbsp;&nbsp;<a href="" title="Hapus" class="btn-aksi" data-toggle="modal" data-target="#hapus-modal"><i class="fa fa-times"></i></a></td>
								</tr>

							</tbody>

						</table>
						<center>
							<div class="pagination">
									<ul>
										<!-- <li><a href="">Sebelumnya</a></li> -->
										<li><a href="" class="actived">1</a></li>
										<li><a href="">2</a></li>
										<li><a href="">3</a></li>
										<li><a href="">4</a></li>
										<li><a href="">5</a></li>
										<li>&nbsp;&nbsp;...&nbsp;&nbsp;</li>
										<li><a href="">10</a></li>
										<!-- <li><a href="">Selanjutnya</a></li> -->
									</ul>
							</div>
						</center>

					</div>

				</form>

			</div>

		</section>

		<hr>

		<section class="container default-section">

			<div class="col-md-12">
			
				<div class="col-md-6">

					<div class="headline">Penyimpanan Fisik</div>

					<form action="" class="form-custom" enctype="multipart/form-data">

						<div class="col-md-12">
							<input type="text" name="" placeholder="Rak">
							<button class="btn-plus" title="Tambah"><i class="fa fa-plus"></i></button>

							<table class="table table-bordered">

								<thead>
									<tr>
										<th>#ID</th>
										<th>Rak</th>
										<th>Aksi</th>
									</tr>
								</thead>

								<tbody>

									<tr style="cursor: pointer">
										<td>#1</td>
										<td>2911</td>
										<td><a href="" class="btn-aksi" title="Sunting"><i class="fa fa-pencil"></i></a> &nbsp;&nbsp;<a href="" title="Hapus" class="btn-aksi" data-toggle="modal" data-target="#hapus-modal"><i class="fa fa-times"></i></a></td>
									</tr>

								</tbody>

							</table>
							<center>
								<div class="pagination">
										<ul>
											<!-- <li><a href="">Sebelumnya</a></li> -->
											<li><a href="" class="actived">1</a></li>
											<li><a href="">2</a></li>
											<li><a href="">3</a></li>
											<li><a href="">4</a></li>
											<li><a href="">5</a></li>
											<li>&nbsp;&nbsp;...&nbsp;&nbsp;</li>
											<li><a href="">10</a></li>
											<!-- <li><a href="">Selanjutnya</a></li> -->
										</ul>
								</div>
							</center>

						</div>

					</form>

				</div>

			</div>

		</section>


	</div> <!-- #body -->


	

	<footer class="container">
		<span>© Copyright 2014 <a href="http://media-sakti.com/" target="_blank"><b>Media-Sakti</b></a></span>
		<button class="pull-right go-up"><i class="fa fa-angle-up"></i></button>
	</footer>

</div> <!-- #container -->


<!-- Large modal -->
<div id="hapus-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="title">Hapus</h4>
			</div>

			<div class="modal-body" style="background: #e74c3c; color: #fff;">
				Apakah Anda yakin ingin menghapus ini?
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Ya</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
			</div>

		</div>
	</div>
</div>

	<script src="assets/js/kotakarsip.js"></script>
	<script src="assets/js/scrolltobyspeed.jquery.js"></script>

</body>

</html>